<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/bytheway.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

<ion-header>
  <ion-toolbar>
    <ion-title>
      
      <img class="displayed" src="assets/bytheway.png" alt="logo">
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <section>
        <ion-button [routerLink]="['/mainloginsignup-page']" routerDirection="forward" fill="solid" expand="block" color="light">Customer</ion-button>
        </section>
      
        <section>
        <ion-button [routerLink]="['/mainloginsignup-taxi']" fill="solid" expand="block" color="light" >Taxi Driver</ion-button>
        </section>

        <section>
            <ion-button [routerLink]="['/mainloginsignup-bus']" fill="solid" expand="block" color="light" >Bus Driver</ion-button>
            </section>

</ion-content>
