// img.displayed {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     }

// ion-title{

//     font-family:  sans-serif; 
//     font-size: 35px;
//     color: black;
   
// }

// ion-header{

//     --ion-background-color: #5BC2E7;

// }

.column {
    float: left;
    width: 33%;
    padding: 0px;
    padding-top: 2px;
    height: 80px;
    text-align: center; 
    font-family: Roboto;
    


.row:after {
    content: "";
    display: table;
    clear: both;
}

}

h1{
    text-align: center;
}

ion-content{

    --ion-background-color: #5BC2E7;
}

section {
    margin-top: 5em;
    margin-bottom: 2em;
  }

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}








