ion-toolbar{
    box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}
.column {
    float: left;
    width: 33%;
    padding: 0px;
    // padding-top: 2px;
    height: 50px;
            

        .row:after {
                content: "";
                display: table;
                clear: both;
        }

        h4{
            font-size: 15px;
            text-align: center;
            font-weight: bold;
        }
    }



.user-image{
    width: 200px;
    height: 200px;
}