<ion-header>
  <ion-toolbar>
     
      <ion-icon name="arrow-round-back" [routerLink] =  "['/homepage']"></ion-icon> <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-item>
   <ion-label position="floating">Username</ion-label>
   <ion-textarea
     disabled
     readonly>
   </ion-textarea>
 </ion-item>

 <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-textarea
      disabled
      readonly>
    </ion-textarea>
  </ion-item>
  
 <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-textarea
      disabled
      readonly>
    </ion-textarea>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Card details</ion-label>
      <ion-textarea
        disabled
        readonly>
      </ion-textarea>
    </ion-item>

      

    


</ion-content>
