<ion-header>
 
    <ion-toolbar>
     <!-- Settings button -->
  
        
          <div class="row">
           
            <div class="column">
                  <ion-button fill="clear" [routerLink] = "['/homepage']">
                   
                    <ion-icon name="arrow-back"></ion-icon>
                    Back
                   </ion-button>
            </div>
  
  
            <div class="column">
              <h4>TAXI LOCATION</h4>
              <!-- <img src="assets\bytheway.png"> -->
            
            </div>
                
  
            <!-- <div class="column">
                <img src="assets\custser.png">
              </div> -->
  
            </div>
        
  
    
    </ion-toolbar>
  </ion-header>
  
  
  
  
  
  
  <ion-content fullscreen>
  
      <ion-text color="dark" >
          <h1>Choose location:</h1>
          </ion-text>

      <div class="rowrow">
           
          <div class="columncolumn">
            <ion-button fill="clear" [routerLink] = "['/homepage']">
              <div class="takantakan">
                <img src="assets\bsb.png" >
                            <ion-text color="dark">
                              <h4>Brunei Muara</h4>
                            </ion-text>
              </div>
            </ion-button>
          </div>


          <div class="columncolumn">
              <ion-button fill="clear" [routerLink] = "['/homepage']">
                <div class="takantakan">
                <img src="assets\Tutong.png">
              <ion-text color="dark">
                  <h4>Tutong</h4>
                </ion-text>
              </div>
              </ion-button>
            </div>
          </div>



          <div class="rowrow">
           
              <div class="columncolumn">
                <ion-button fill="clear" [routerLink] = "['/homepage']">
                  <div class="takantakan">
                    <img src="assets\Belait.png" >
                                <ion-text color="dark">
                                  <h4>Belait</h4>
                                </ion-text>
                  </div>
                </ion-button>
              </div>
    
    
              <div class="columncolumn">
                  <ion-button fill="clear" [routerLink] = "['/homepage']">
                    <div class="takantakan">
                    <img src="assets\Temburong.png">
                  <ion-text color="dark">
                      <h4>Temburong</h4>
                    </ion-text>
                  </div>
                  </ion-button>
                </div>
              </div>

