<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/bytheway.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-toolbar>
    <ion-title>
      
        <!-- <img src="assets/bytheway.png" alt="logo" style="width:150px;height:150px; align-self: center;"> -->
        <img class="displayed" src="assets/bytheway.png" alt="logo">
        
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <section>
  <ion-button [routerLink]="['/signup-page']" routerDirection="forward" fill="solid" expand="block" color="light">Sign Up</ion-button>
  </section>

  <section>
  <ion-button [routerLink]="['/login-page']" fill="solid" expand="block" color="light" >Login</ion-button>
  </section>

</ion-content>
