<ion-header>
 
  <ion-toolbar>
   <!-- Settings button -->

      
        <div class="row">
         
          <div class="column">
                <ion-button fill="clear" [routerLink] = "['/homepage']">
                 
                  <ion-icon name="arrow-back"></ion-icon>
                  Back
                 </ion-button>
          </div>


          <div class="column">
            <h4>BUS SCHEDULE</h4>
            <!-- <img src="assets\bytheway.png"> -->
          
          </div>
              

          <div class="column">
              <img src="assets\2.png">
            </div>

          </div>
      

  
  </ion-toolbar>


</ion-header>




<ion-content>

  <div class="hours">
    <h1>Bus Operation Hours</h1>
    <ion-text color="dark"></ion-text>
  </div>

  <div class="map">
    <!-- <ion-slides pager= "true"> -->
          <!-- <ion-slide> -->
    <img src="assets\busmap.jpg">
    <!-- </ion-slide> -->

    <!-- </ion-slides> -->
  </div>

</ion-content>
