<ion-header>
 
  <ion-toolbar>
   <!-- Settings button -->

      
        <div class="row">
         
          <div class="column">
                <ion-button fill="clear" [routerLink] = "['/homepage']">
                 
                  <ion-icon name="arrow-back"></ion-icon>
                  Back
                 </ion-button>
          </div>


          <div class="column">
            <h4>Bus Schedule</h4>
            <!-- <img src="assets\bytheway.png"> -->
          
          </div>
              

          <div class="column">
              <img src="assets\2.png">
            </div>

          </div>
      

  
  </ion-toolbar>


</ion-header>




<ion-content>

  <div class="dropdown">
    <ion-button class="dropbtn" expand="full">Bus Operation Hours</ion-button>
    <div class="dropdown-content">
        <tr>
          <th>6am to 8pm Daily</th>
        </tr>

    </div>


  </div>

  <div class="map">
    <!-- <ion-slides pager= "true"> -->
          <!-- <ion-slide> -->
    <img src="assets\busmap.jpg">
    <!-- </ion-slide> -->

    <!-- </ion-slides> -->
  </div>

</ion-content>
