img {
    height: 40px;
    width: 40px;
}

.btn {
    height: 60px;
   
}

span{
    display: inline-block;
    padding-left: 55px;
    padding-right: 20px;
}

h6{
    font-weight: bold;
}

#logo{
    

    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}  


