.c{
    text-align: center;
  }
  
  ion-content{
    --ion-background-color: #5BC2E7;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
  
  .font{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  
  .colour{
    color: #C4C4C4;
  }