ion-toolbar{
    box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}

.column {
    float: left;
    width: 33%;
    padding: 0px;
    padding-top: 2px;
    
    height: 80px;
 

        .row:after {
                content: "";
                display: table;
                clear: both;
        }

        h4{
            font-size: 20px;
            text-align: center;
        }
    }

img{
    width: 55px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 20px; 
}

.email{

    img{
        height: 50px;
        width: 50px;
        padding: 0px;
    }

    ion-button{
        width: 80px;
        height: 80px;
        margin: 0;
        padding: 0;

    }
}
