
<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          
  
          <div class="column">
            <h1>REGISTER TAXI</h1>
          
          </div>
          <!-- <ion-title text-center> -->
  
          <!-- <img class="displayed" src="assets/bytheway.png" alt="logo" style="width:120px;height:120px;"> -->
          <!-- Sign Up 
    </ion-title> -->
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <ion-list>
  
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
            
  
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>


        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>
  
  
      <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="tel"  [(ngModel)]="phonenumber"></ion-input>
      </ion-item>


  
      <ion-item>
          <ion-label position="floating">License Plate</ion-label>
          <ion-input  type="text"  [(ngModel)]="license"></ion-input>
          
      </ion-item>

      <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-input type="select" placeholder="type" [(ngModel)]="type"></ion-input>
          <ion-select placeholder="Select One">
              <!-- <ion-select multiple="true" cancelText="Cancel" okText="Okay"> -->
              <ion-select-option value="4">4 Seater</ion-select-option>
              <ion-select-option value="6">6 Seater</ion-select-option>
            </ion-select>
      </ion-item>
    
    </ion-list>
    <section>
    <ion-button (click)="register()"  fill="solid" expand="block" color="primary" >Register</ion-button>
    </section>
    
    <section>
    <ion-button expand="block" fill="solid" color="primary" href="/login-page"> Login</ion-button>
    </section>

    </form>
  </ion-content>