ion-header{

    // --ion-background-color: #5BC2E7;
    height: 80px;
    // width: 33%;
    // padding: 0px;
    // padding-top: 2px;
    // float: left;

}

ion-content{

    --ion-background-color: #5BC2E7;
}

ion-button{

  font-size: 20px
}



img.displayed {
    // width: 42px;
    // height: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    
    // margin-top: 20px;
    }

  
section {
      margin-top: 10em;
      margin-bottom: 2em;
    }