<ion-header>
  <ion-toolbar>
         <ion-title>
            <ion-button no fill>
                <ion-icon name="arrow-round-back"></ion-icon>
               </ion-button>
            Taxi Types
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

  <p>Choose Preferred taxi types:</p>

  <div class="ion-padding">
   <ion-button color="light" class="btn" [routerLink]="['/fare4']">
   <img src="../../assets/icon/Sedan.png"><br><br>
     4 Seaters
   </ion-button>
    
  </div>

  <div>
      <ion-button color="light" class="btn" [routerLink]="['/fare6']">
        <img src="../../assets/icon/img_399878.png"><br><br>
       6 Seaters
      </ion-button>
     
  </div>
</ion-content>
