<ion-content>
  <div #map>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Where?" [hidden]="destination">
    </ion-searchbar>

    <ion-button class="ion-margin-top" (click)="back()" color="dark" fill="clear" size="small" [hidden]="!destination">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

    </ion-button>


    <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
      <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
        {{ result.description }}

      </ion-item>
    </ion-list>

    <div class="request-car ion-padding ion-text-center" [hidden]="!destination">
      <h4 class="ion-no-margin">UberX</h4>
      <span>idonno</span>

      <ion-grid class="ion-margin-vertical">
        <ion-row>
          <ion-col size="4">
            <img src="">
            <span class="category">UberX</span>
            <span>BND10</span>
          </ion-col>
          <ion-col size="4">
            <img src="">
            <span class="category">Select</span>
            <span>BND5</span>
          </ion-col>
          <ion-col size="4">
            <img src="">
            <span class="category">Black</span>
            <span>BND3.50</span>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button color="dark" expand="block">
          Confirmed Booking
      </ion-button>
    </div>
  </div>


</ion-content>